@model EmployeeCreateViewModel

@{ 
    ViewBag.Title = "Create Employee";
}

    <div class="m-3">
        <form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post">

            <!--<div asp-validation-summary="All" class="text-danger"></div>-->

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department"></label>
                <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>


        </form>

    </div>
    

    @section Scripts { 
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
    }
