@model EmployeeEditViewModel

@{
    ViewBag.Title = "Edit Employee";

    var photoPath = "~/images/" + (Model.ExistingPhotoPath ?? "noimage.jpg");

}

<div class="m-3">

    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post">

        <input hidden asp-for="Id" />
        <input hidden asp-for="ExistingPhotoPath" />


        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Department"></label>
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input" />
                <label class="custom-file-label">Select file to update the photo</label>
            </div>
        </div>


        <div class="form-group text-center">
            <img src="@photoPath" alt="Alternate Text" class="imageThumbnail" asp-append-version="true" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</a>
        </div>

    </form>

</div>


@section Scripts {

}
