@{
    ViewBag.Title = "404 Not Found";
}

    <h1>
        @ViewBag.ErrorMessage
    </h1>


<a asp-controller="home" asp-action="Index" class="btn btn-outline-success" style="width:auto;">Go To Employee List</a>

